<div class="container-fluid">
    <div class="row">
        <mat-tab-group dynamicHeight>
            <mat-tab label="Work Experience">
                <div class="col-md-5 offset-md-1 infy">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Infosys</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/infy.png"
                        alt="Infosys">
                    <mat-card-content>
                        <h3>
                            Systems Engineer
                        </h3>
                        <h5>
                            Sept 2019 - Present
                        </h5>
                        <p>Got training on MEAN Stack. It is a  free and open-source JavaScript software 
                            stack for building dynamic web sites and web applications. 
                        </p>
                        <p>
                            Worked on UX development project. Redesigned an already existing webpage as a part
                            of this project. Adobe XD was used for making prototype designs.
                        </p>
                    </mat-card-content>
                    <a mat-raised-button href="https://www.linkedin.com/in/rahulpbharathan/" target="_blank">Linkedin</a>
                </mat-card>
            </div>
            </mat-tab>
            <mat-tab label="Education">
                <div class="col-md-5 offset-md-1 infy">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>TKM College of Engineering, Kollam</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="../../assets/tkm.jpg"
                            alt="TKMCE">
                        <mat-card-content>
                            <h3>
                                B.Tech - Electrical and Electronics Engineering
                            </h3>
                            <h5>
                                2015 - 2019
                            </h5>
                            <p>
                                Published a paper, Feynman Machine: A Cortical Machine Intelligence for Path Detection in Advanced Driver-Assistance Systems, on IEEE xplore.
                            </p>
                            <p>
                                Had an opportunity to be the head of designs team of Hestia 19, which was one of the biggest college fests in South India.
                            </p>
                            <p>
                                I was also a part of Engineering organisations like IEEE.
                            </p>
                        </mat-card-content>
                        <a mat-raised-button href="https://ieeexplore.ieee.org/document/8929604" target="_blank">IEEE Paper</a>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<br>