<div class="container-fluid">
    <div class="row">
        <mat-tab-group dynamicHeight>
            <mat-tab label="Graphic design">
                <div class="col-md-5 offset-md-1 infy">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Potentia Magazine - Volume 14</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="../../assets/potentia.PNG" alt="Potentia">
                        <mat-card-content>
                            <h3>
                                Designer
                            </h3>
                            <p>
                                Potentia is the department magazine of Electrical
                                and Electronics Engineering department of TKM College of Engineering.
                            </p>
                            <p>
                                Softwares used for making the magazine are Adobe InDesign, Adobe Illustrator and Adobe Photoshop.
                            </p>
                        </mat-card-content>
                        <a mat-raised-button href="http://bit.ly/potentia_2019" target="_blank">View Magazine</a>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="Coding">
                <!-- <div class="col-md-5 offset-md-1 infy">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>TKM College of Engineering, Kollam</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="../../assets/tkm.jpg"
                            alt="TKMCE">
                        <mat-card-content>
                            <h3>
                                B.Tech - Electrical and Electronics Engineering
                            </h3>
                            <h5>
                                2015 - 2019
                            </h5>
                            <p>
                                Published a paper, Feynman Machine: A Cortical Machine Intelligence for Path Detection in Advanced Driver-Assistance Systems, on IEEE xplore.
                            </p>
                            <p>
                                Had an opportunity to be the head of designs team of Hestia 19, which was one of the biggest college fests in South India.
                            </p>
                            <p>
                                I was also a part of Engineering organisations like IEEE.
                            </p>
                        </mat-card-content>
                        <a mat-raised-button href="https://ieeexplore.ieee.org/document/8929604" target="_blank">IEEE Paper</a>
                    </mat-card>
                </div> -->
                <h4>Will add more projects soon</h4>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<br>