<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 justify-content-center first">
            <img src="../../assets/qewe.PNG">
            <br>
            <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <button class="btn btn-custom" routerLink="/home">Go to home</button>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>