<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 offset-1">
            <h2>Contact me</h2>
            <mat-list>
                <mat-list-item><a mat-raised-button href="https://www.linkedin.com/in/rahulpbharathan/" target="_blank">Linkedin</a></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><a mat-raised-button href="https://www.instagram.com/rahul.p.bharathan/" target="_blank">Instagram</a></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><a mat-raised-button href="https://www.facebook.com/rahulpbharathan" target="_blank">Facebook</a></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><a mat-raised-button href="https://twitter.com/RahulPBharathan" target="_blank">Twitter</a></mat-list-item>
              </mat-list>
              <br>
              <br>
        </div>
    </div>
</div>
