<div class="container">
    <div class="row first-row">
        <div class="col-md-6 text-center first-col">
            <span class="first">Work on progress</span><br>
        </div>
        <!-- <div class="col-md-6 text-center second-col">
            <div routerLink="/contact">
                Connect to me on
            </div>
        </div> -->
        <!-- <div class="col-md-6 text-center second-col">
            <a href="https://www.instagram.com/rahul.p.bharathan/">instagram</a> &nbsp;&nbsp;
            <a href="https://www.linkedin.com/in/rahulpbharathan/">linkedin</a> &nbsp;&nbsp;
            <a href="https://twitter.com/RahulPBharathan">twitter</a> &nbsp;&nbsp;
            <a href="https://github.com/rahulkvr">github</a>
        </div> -->
    </div>
</div>