<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4  col1">
            <img class="img-fluid" src="../../assets/dp1.png">
        </div>
        <div class="col-sm-8 col2">
            <div class="content">
                <div class="heading">
                    Rahul P Bharathan
                </div>
                <div class="sub-heading">
                    Full stack developer
                </div>
                <div class="paragraph">
                    Electrical Engineer by education, Systems Engineer by profession. Working on Angular, Node.js, Express.js, Mongo DB technologies.
                    Also good in UX Prototyping tools like Figma and Adobe XD.
                </div>
                <div class="more">
                    <a routerLink="/about">More about me</a>
                </div>
                <div class="social">
                    <a href="https://www.linkedin.com/in/rahulpbharathan/"><img src="../../assets/linkedin 1.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://twitter.com/RahulPBharathan"><img src="../../assets/twitter 1.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://www.instagram.com/rahul.p.bharathan/"><img src="../../assets/instagram 1.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://www.facebook.com/rahulpbharathan"><img src="../../assets/facebook 1.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
